/* ФОРМА ФУТЕР*/

.form-subscribe {
    display: flex;
    margin-left: auto;
}

.form-subscribe__body {
    display: block;
}

.form-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $background-text-color;
}

.form-subscribe__content {
    margin-top: 20px;
    display: flex;
}

.form-subscribe__input {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;

    background-color: $footer-backgroud-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: $background-text-color;
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
}

.form-subscribe__button {
    background-color: $interactive-color;
    font-family: $font-family-main;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;

    color: $background-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    padding: 10px 28px 10px 28px;

    cursor: pointer;

    display: flex;
    align-items: center;

    margin-left: 12px;

    border: none;
}

.form-subscribe__icon {
    margin-left: 10px;
    fill: $background-text-color;
}