/* ХЕДЕР */

.nav {
    display: flex;
    color: $secondary-text-color;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.nav__body {
    display: flex;
    align-items: center;
}

.nav__menu {
    display: flex;
    margin-left: 93px;
    gap: 50px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.contacts {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.contacts__item {

    &:last-child {
        margin-left: 50px;
    }
}

.contacts__link {
    display: flex;
    color: $secondary-text-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: currentColor;
    align-items: center;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $interactive-color;
        color: $interactive-color;
    }
}

.contacts__icon {
    margin-right: 10px;
    padding-top: 1px;
}